@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Special Elite', cursive;
}

header {
  font-family: Helvetica, sans-serif;
  color: #2471A3;
  background: white;
  text-align: center;
  padding: 30px;
}

main {
  background: #A9CCE3;
  text-align: center;
}

main h2 {
  padding-top: 20px;
  padding-bottom: 1Opx;
  color: #2471A3;
}

footer {
  text-align: center;
  padding: 20px 0;
  color: #2471A3;
  background: white;
}

.container {
  display: flex;
  justify-content: center;
  width: 800px;
  margin: 0 auto;
  padding: 25px 0;
}

#start-button {
  background: #F2F3F4;
  color: #2471A3;
  padding: 10px 15px;
  margin: 20px 0;
  border: 2px solid #2471A3;
  border-radius: 5px;
  font-size: 14px;
  transition: all 0.3s ease;
}
#start-button:hover {
  background: #EBF5FB;
  cursor: pointer;
}

.grid {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: #F2F3F4;
  border: 2px solid #2471A3;
  border-radius: 5px;
}

.grid div {
  width: 20px;
  height: 20px;
}

.tetromino {
  background-color: blue;
}

.mini-grid {
  margin-left: 50px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: #F2F3F4;
  border: 2px solid #2471A3;
  border-radius: 5px;
}

.mini-grid div {
  width: 20px;
  height: 20px;
}
